"*":
  "exception-reporting":
    userId: "33176a9d-cb84-a80c-b525-2221e2043f1b"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "minimap-autohide"
      "autohide-tree-view"
    ]
  editor:
    invisibles: {}
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: true
  "autocomplete-plus": {}
  "highlight-selected": {}
  minimap:
    plugins:
      "highlight-selected": true
      "minimap-autohide": true
      "git-diff": true
      "find-and-replace": true
  "ruby-test": {}
  "spell-check": {}
  autosave:
    enabled: true
